
.form-container {
	max-width: 600px;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 4px;
	background-color: #fff;
	margin: 20px auto;
}

.logo-image {
	max-width: 60%;
	height: auto;
}

.username {
	color: rgb(5, 112, 32);
}
